/bin
#/html/core
#/html/modules/contrib
#/html/profiles/contrib
#/html/themes/contrib
#/html/sites/default/files
#/html/libraries
#vendor/
.idea
sites/default/files/php
sites/default/files/css
sites/default/files/js
